Repository inthepocket/hubble-scripts: changes, and which lint-staged commands are due for each by the changed paths.
All: itp-react-scripts lint -- --fix, itp-react-scripts format, command -v shellcheck && shellcheck

Verify that version of binary is same as package.json
  .circleci/config.yml
Due: none

Fallback to normal font weight when name is not defined
  lib/font.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Add the option to ignore textstyle paths in Sketch
  __mocks__/sketch/exported_assets/icons/hubble/plain.pdf
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope.pdf
  __mocks__/sketch/sample_dump.json
  __mocks__/sketch/sample_output.artboard.json
  __mocks__/sketch/sample_output.document.json
  __mocks__/sketch/sample_sketchfile.sketch
  cli.js
  generate_mocks.sh
  index.js
  lib/mappers/sketch/textstyle.js
  lib/utils.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format, command -v shellcheck && shellcheck

Align tests with new option
  __tests__/__snapshots__/verifyMocks.test.js.snap
  lib/mappers/__tests__/__snapshots__/mapper.sketch.test.js.snap
  lib/mappers/__tests__/mapper.sketch.test.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Update 404 link in Readme
  README.md
Due: none

Use the correct binary
  Taskfile
Due: none

Configure a release script
  .circleci/config.yml
  Taskfile
Due: none

Persist workspace?
  .circleci/config.yml
Due: none

Persist after we have built to bin
  .circleci/config.yml
Due: none

Try listig all files with a glob
  .circleci/config.yml
Due: none

Add a configuration for publishing
  .circleci/config.yml
Due: none

Fix incorrect job name
  .circleci/config.yml
Due: none

Also list available binaries
  .circleci/config.yml
Due: none

Bump node version to node@10
  .circleci/config.yml
  package.json
Due: none

Add outputdir to fix path /assets/assets issue
  generate_mocks.sh
Due: command -v shellcheck && shellcheck

Fix path forgotten path delimiter
  generate_mocks.sh
Due: command -v shellcheck && shellcheck

Try and fix path
  .circleci/config.yml
Due: none

Try and attach and run next to each other
  .circleci/config.yml
Due: none

Persist complete workspace
  .circleci/config.yml
Due: none

Try listing output with tree
  .circleci/config.yml
Due: none

Try and CD into bin folder
  .circleci/config.yml
Due: none

See if I can get output
  .circleci/config.yml
Due: none

Bump 4.3.1
  package-lock.json
  package.json
Due: none

Add sketch file containing layer styles to the mocks folder
  __mocks__/sketch/sample_sketchfile.sketch
Due: none

Add new argument to prepare for layerstyle parsing
  cli.js
  index.js
  lib/parser/constants.js
  lib/parser/index.js
  lib/sketch.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Prepare support for grid settings
  __mocks__/figma/assets/icons/hubble/plain.svg
  __mocks__/figma/sample_dump.json
  __mocks__/sketch/exported_assets/icons/hubble/plain.pdf
  __mocks__/sketch/exported_assets/icons/hubble/plain.png
  __mocks__/sketch/exported_assets/icons/hubble/plain@1.5x.png
  __mocks__/sketch/exported_assets/icons/hubble/plain@2x.png
  __mocks__/sketch/exported_assets/icons/hubble/plain@3x.png
  __mocks__/sketch/exported_assets/icons/hubble/plain@4x.png
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope.pdf
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope.png
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope.svg
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope@1.5x.png
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope@2x.png
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope@3x.png
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope@4x.png
  __mocks__/sketch/sample_dump.json
  __mocks__/sketch/sample_output.artboard.json
  __mocks__/sketch/sample_output.document.json
  __mocks__/sketch/sample_sketchfile.sketch
  generate_mocks.sh
Due: command -v shellcheck && shellcheck

Add grid support as a token
  __mocks__/figma/sample_dump.json
  __mocks__/figma/sample_output.json
  __mocks__/figma/sample_output.styledictionary.json
  __mocks__/sketch/exported_assets/icons/hubble/plain.pdf
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope.pdf
  __mocks__/sketch/sample_output.artboard.json
  __mocks__/sketch/sample_output.document.json
  __mocks__/sketch/sample_output.styledictionary.json
  index.js
  lib/parser/index.js
  lib/styleDictionary/index.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Fix test and possible bug for style dictionary
  lib/__tests__/styleDictionary.test.js
  lib/styleDictionary/index.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Prevent bug where grid could possibly be not defined and break other impl.
  lib/parser/index.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Skip testing dumps (JSON structures too big)
  __tests__/verifyMocks.test.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Update tests according to new grid support
  __mocks__/figma/sample_dump.json
  __mocks__/sketch/exported_assets/icons/hubble/plain.pdf
  __mocks__/sketch/exported_assets/illustrations/hubble/telescope.pdf
  __tests__/__snapshots__/verifyMocks.test.js.snap
Due: none

Update README logo
  .github/hubble-oss-banner.png
  README.md
Due: none

Path conditions:
  itp-react-scripts lint -- --fix: any of: **/*.js
  itp-react-scripts format: any of: **/*.js
  command -v shellcheck && shellcheck: any of: **/*.sh
