Repository inthepocket/hubble-scripts: changes, and which lint-staged commands are due for each by the changed paths.
All: itp-react-scripts lint -- --fix, itp-react-scripts format, command -v shellcheck && shellcheck

Add sample Adobe XD file
  __mocks__/adobexd/sample_adobexd_lib.xd
Due: none

Setup for adobexd
  generate_mocks.sh
  lib/parser/constants.js
  lib/parser/index.js
  lib/utils.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format, command -v shellcheck && shellcheck

Unzip xd file and read manifest
  generate_mocks.sh
  lib/adobexd.js
  lib/parser/index.js
  package-lock.json
  package.json
Due: itp-react-scripts lint -- --fix, itp-react-scripts format, command -v shellcheck && shellcheck

Read, parse and select information from each artboard
  lib/adobexd.js
  lib/parser/index.js
  lib/utils.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Refactor to one module
  lib/adobexd.js
  lib/parser/index.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Remove unzipper dir after extracting info
  lib/adobexd.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Group refrences by style element
  lib/adobexd.js
  lib/parser/index.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Refactor code
  lib/adobexd.js
  lib/parser/index.js
  lib/utils.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Drop in replacement to remove dir async
  lib/utils.js
  package-lock.json
  package.json
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Fix method shorthand
  lib/utils.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Remove dir when last await call returned a result
  lib/adobexd.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Match color references and extract RGB value
  lib/adobexd.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Match references to tokens
  lib/adobexd.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Fix return value
  lib/adobexd.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Spread props instead of copying
  lib/adobexd.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Semantics
  lib/adobexd.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Parse shadows and remove redundant name
  lib/adobexd.js
  lib/parser/index.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Add adobe mapping path and starting files
  lib/mappers/adobeXD/blur.js
  lib/mappers/adobeXD/border.js
  lib/mappers/adobeXD/color.js
  lib/mappers/adobeXD/gradient.js
  lib/mappers/adobeXD/index.js
  lib/mappers/adobeXD/shadow.js
  lib/mappers/adobeXD/textstyle.js
  lib/mappers/index.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Map colors to hubble tokens
  lib/mappers/adobeXD/color.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Make changes to sketchtool to make it safer
  sketchtool.sh
Due: command -v shellcheck && shellcheck

map textstyles to hubble tokens
  lib/mappers/adobeXD/textstyle.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

parse correct name
  lib/mappers/adobeXD/textstyle.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

remove non existent XD elements
  __mocks__/adobexd/sample_adobexd_lib.xd
Due: none

fix output location
  generate_mocks.sh
  lib/parser/index.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format, command -v shellcheck && shellcheck

add sample output files
  __mocks__/adobexd/sample_dump.json
  __mocks__/adobexd/sample_output.json
Due: none

finish some mappers, skeleton for others
  lib/mappers/adobeXD/blur.js
  lib/mappers/adobeXD/border.js
  lib/mappers/adobeXD/gradient.js
  lib/mappers/adobeXD/shadow.js
  lib/mappers/adobeXD/textstyle.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

fix color mapping
  __mocks__/adobexd/sample_output.json
  lib/mappers/adobeXD/color.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Make sketchtool file safer
  sketchtool.sh
Due: command -v shellcheck && shellcheck

map gradient and improve color
  __mocks__/adobexd/sample_output.json
  lib/mappers/adobeXD/color.js
  lib/mappers/adobeXD/gradient.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Fix very big bug where sketchtool would not run
  sketchtool.sh
Due: command -v shellcheck && shellcheck

map shadows and provide util function for colors
  __mocks__/adobexd/sample_output.json
  lib/mappers/adobeXD/color.js
  lib/mappers/adobeXD/gradient.js
  lib/mappers/adobeXD/shadow.js
  lib/utils.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

finish first completed version of mappers
  __mocks__/adobexd/sample_output.json
  lib/mappers/adobeXD/blur.js
  lib/mappers/adobeXD/border.js
  lib/mappers/adobeXD/shadow.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Add VSCode file association
  .vscode/settings.json
Due: none

Provide raw dump and version
  lib/adobexd.js
  lib/mappers/index.js
  lib/parser/index.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

pr remarks
  __mocks__/adobexd/sample_adobexd_lib.xd
  __mocks__/adobexd/sample_dump.json
  __mocks__/adobexd/sample_output.json
  lib/mappers/adobeXD/blur.js
  lib/mappers/adobeXD/border.js
  lib/mappers/adobeXD/shadow.js
  lib/mappers/adobeXD/textstyle.js
  lib/utils.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

rename folder to fix tests
  lib/mappers/adobexd/blur.js
  lib/mappers/adobexd/border.js
  lib/mappers/adobexd/color.js
  lib/mappers/adobexd/gradient.js
  lib/mappers/adobexd/index.js
  lib/mappers/adobexd/shadow.js
  lib/mappers/adobexd/textstyle.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Specify border type
  __mocks__/adobexd/sample_output.json
  lib/mappers/adobexd/border.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

improve shadow mapping and overal result
  __mocks__/adobexd/sample_dump.json
  lib/adobexd.js
  lib/parser/index.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

alpha safety for colors
  lib/mappers/adobexd/border.js
  lib/mappers/adobexd/color.js
  lib/mappers/adobexd/gradient.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

get textstyles from document instead of artboard
  __mocks__/adobexd/sample_dump.json
  __mocks__/adobexd/sample_output.json
  lib/adobexd.js
  lib/mappers/adobexd/textstyle.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Path conditions:
  itp-react-scripts lint -- --fix: any of: **/*.js
  itp-react-scripts format: any of: **/*.js
  command -v shellcheck && shellcheck: any of: **/*.sh
