Repository inthepocket/hubble-scripts: changes, and which lint-staged commands are due for each by the changed paths.
All: itp-react-scripts lint -- --fix, itp-react-scripts format, command -v shellcheck && shellcheck

export adobexd to style dictionary
  __mocks__/adobexd/sample_output.styledictionary.json
  generate_mocks.sh
Due: command -v shellcheck && shellcheck

include fonts in the output
  __mocks__/adobexd/sample_dump.json
  __mocks__/adobexd/sample_output.json
  lib/adobexd.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

change return value to prevent crashes (in case of no textstyles)
  lib/adobexd.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

add grid primitive to XD file
  __mocks__/adobexd/sample_adobexd_lib.xd
Due: none

naive grid support
  __mocks__/adobexd/sample_dump.json
  __mocks__/adobexd/sample_output.json
  __mocks__/adobexd/sample_output.styledictionary.json
  lib/adobexd.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

unzip in correct folder when creating style dictionary
  generate_mocks.sh
Due: command -v shellcheck && shellcheck

add linespacing to textstyle
  __mocks__/adobexd/sample_adobexd_lib.xd
  __mocks__/adobexd/sample_dump.json
  __mocks__/adobexd/sample_output.json
  __mocks__/adobexd/sample_output.styledictionary.json
  lib/mappers/adobexd/textstyle.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

snapshot testing for adobexd
  __tests__/__snapshots__/verifyMocks.test.js.snap
  __tests__/verifyMocks.test.js
  lib/mappers/__tests__/__fixtures__/mapper.adobexd.js
  lib/mappers/__tests__/__snapshots__/mapper.adobexd.test.js.snap
  lib/mappers/__tests__/mapper.adobexd.test.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

add inner border to xd file
  __mocks__/adobexd/sample_adobexd_lib.xd
  __mocks__/adobexd/sample_dump.json
  __mocks__/adobexd/sample_output.json
  __mocks__/adobexd/sample_output.styledictionary.json
  __tests__/__snapshots__/verifyMocks.test.js.snap
  lib/mappers/__tests__/__snapshots__/mapper.adobexd.test.js.snap
Due: none

fix inside border name in snapshots
  __mocks__/adobexd/sample_adobexd_lib.xd
  __mocks__/adobexd/sample_dump.json
  __mocks__/adobexd/sample_output.json
  __mocks__/adobexd/sample_output.styledictionary.json
  __tests__/__snapshots__/verifyMocks.test.js.snap
  lib/mappers/__tests__/__snapshots__/mapper.adobexd.test.js.snap
Due: none

tokenize blur name
  lib/mappers/adobexd/blur.js
  lib/utils.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

update snapshot for camelcased blur id
  lib/mappers/__tests__/__snapshots__/mapper.adobexd.test.js.snap
Due: none

Bump 4.5.0
  package-lock.json
  package.json
Due: none

Make --dump a generic option
  cli.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

Rename dump output to raw_output.json
  .gitignore
  generate_mocks.sh
  index.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format, command -v shellcheck && shellcheck

fix description for Adobe XD test cases
  lib/mappers/__tests__/mapper.adobexd.test.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

replace node-fs mkdir with a recursive function
  lib/utils.js
Due: itp-react-scripts lint -- --fix, itp-react-scripts format

upgrade snapshot to match correct description
  lib/mappers/__tests__/__snapshots__/mapper.adobexd.test.js.snap
Due: none

Path conditions:
  itp-react-scripts lint -- --fix: any of: **/*.js
  itp-react-scripts format: any of: **/*.js
  command -v shellcheck && shellcheck: any of: **/*.sh
